body {
  margin: 0;
  text-align: center;
  font-family: 'Syne Mono', monospace;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 3%;
}

h1 {
  font-family: 'Share Tech Mono', monospace;
  margin: 0 auto 0 auto;
  /* font-family: 'Syne Mono', monospace; */
  /* font-family: 'Cutive Mono', monospace; */
  font-size: 562.5%;
  line-height: 200%;
}

h2 {
  color: #14274E;
  font-family: 'Share Tech Mono', monospace;
  font-weight: normal;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Share Tech Mono', monospace;
}

div {

}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right:300px;
  top: 50px;
}

.top-container {
  position: relative;
  padding-top: 80px;
  background-color: #222831;
  color: #EEEEEE;
}

.middle-container {
  background-color: #EEEEEE;
  padding: 50px 0;
}

.bottom-container {
  background-color: #393E46;
  color:#EEEEEE;
  padding: 30px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.ruby-image {
  float: left;
  width: 25%;
  height: 25%;
  margin-right: 30px;
}

.paw-image {
  float: right;
  width: 25%;
  height: 25%;
  margin-left: 30px;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Syne Mono', monospace;
  color: #ffffff;
  font-size: 20px;
  background: #7BC74D;
  padding: 10px 20px 10px 20px;
  border: solid #7BC74D 2px;
  text-decoration: none;
}

.btn:hover {
  background: #7BC74D;
  background-image: -webkit-linear-gradient(top, #7BC74D, #69a642);
  background-image: -moz-linear-gradient(top, #7BC74D, #69a642);
  background-image: -ms-linear-gradient(top, #7BC74D, #69a642);
  background-image: -o-linear-gradient(top, #7BC74D, #69a642);
  background-image: linear-gradient(to bottom, #7BC74D, #69a642);
  text-decoration: none;
}